<!DOCTYPE html>
<html>
	<head>
		<title>BarkPark</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="../public/assets/css/custom.css">

	    <!-- js -->
	    <script src="../public/assets/js/jquery.min.js"></script>
	    <script src="../public/assets/js/bootstrap.min.js"></script>
	    <script src="../public/assets/js/owl.carousel.min.js"></script>
		<script src="../public/assets/js/script.js"></script>
		<script src="../public/assets/js/wow.min.js"></script>
		<script src="../public/assets/js/jquery.actual.min.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="overlay-1">
				<section id= "navigation">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  					<div class="container-fluid">
	    					<div class="navbar-header">
	      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        		<span class="ion-navicon"></span>
					      		</button>
					      		<a class="navbar-brand" href="#">BarkPark</a>
					    	</div>
	    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      					<ul class="nav navbar-nav navbar-right">
									<li><a href="#login">Login</a></li>
									<li><a href="#sign-up">Sign Up</a></li>
		      						<li><a href="#map">Map</a></li>
							    </ul>
	    					</div>	<!-- collapse navbar-collapse -->
	  					</div>	<!-- container-fluid -->
					</nav>	<!-- navbar -->
				</section>	<!-- #navigation -->
				<section id="starting">
					<div class="text-center starting-text">
						<h1 class="rene">BarkPark</h1>
						<h2>You have social networking, shouldn't your dog?</h2>
					</div>
				</section>
				<div id="bottom" class="bottom text-center">
			        <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
			    </div>
			</div><!-- overlay-1 -->
		</div>	<!-- wrapper -->		

		<!-- Login -->
		<section id="login">
			<div class="container">
				<div class="row text-center" id="heading">
					<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
						<h3>Login</h3>
						<div class="myform">
							<form class="form">
								<input type="text" placeholder="Username">
								<input type="password" placeholder="Password">
								<button type="submit" class="login-button">Login</button>
								<p class="message signIn">Not registered? <a href="#">Create an account</a></p>
							</form>
						</div>
					</div>
				</div>	<!-- row -->
			</div>	<!-- container -->
		</section>	<!-- Login-->

		<!-- Sign Up -->
		<section id= "sign-up">
			<div class= "container">
				<div class="row text-center" id= "heading">
					<div class= "bg-image">
						<div class= "col-lg-6 col-lg-offset-3 share-text wow animated zoomInDown" id= "heading-text">
							<h3 class= "text-center">SIGN UP</h3>
							<p>Tell us about your dog.</p>
							<hr class= "full">
							<br/>
						</div>
					</div>
				</div>
				<div class= "row text-center main_content">
					<div class= "col-md-6 col-md-offset-3 text-center">
						<form method="post" action="#">
							<table id="sign-up-table">
								<tr>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Email" required>
										</div>
									</td>
									<td>
										<div class="input-group margin-bottom-sm margin-right-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Password" required>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Dog Name" required>
										</div>
									</td>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Owner Name" required>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Breed" required>
										</div>
									</td>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Age" required>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Weight" required>
										</div>
									</td>
									<td>
										<div class="input-group margin-bottom-sm">
											<span class="input-group-addon">
												<i class="fa fa-user fa-fw"></i>
											</span>
											<input class="form-control" type="text" placeholder="Upload Photo" required>
										</div>
									</td>
								</tr>
							</table>
							<input class="btn btn-primary send" type="submit" value="Submit">
						</form>
					</div>
				</div>
			</div>
		</section>	<!-- Sign Up --> 

		<!-- Map Div -->
		<section id="map">
			<div class="container">
				<div class="row text-center" id= "heading">
	        		<div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id= "heading-text">
	        			<h3>Map</h3>
	                	<p>View the map to see current dog activity and BarkPark user locations!</p>
	                	<hr class= "full">
	                	<br/>
	        		</div>
		        </div>
			    <div class="main_content">
					<!-- HERE WILL BE THE MAP -->
				</div>
			</div>	<!-- container -->
		</section>	<!-- Map Div -->
			
		<!-- footer -->
		<section id= "footer" class= "main-footer">
			<div class= "row">
				<div class= "logo text-center">
					<h1>BarkPark</h1>
				</div>
			</div>
			<div class= "row">
				<div class= "copyright text-center">
					<p> © 2018 Mallards squad</p>
				</div>
			</div>
		</section><!-- footer -->

		<!-- js -->
		<script>
			$(document).ready(function() {
  				$("#client-speech").owlCarousel({
  					autoPlay: 3000,
      				navigation : false, // Show next and prev buttons
      				slideSpeed : 700,
      				paginationSpeed : 1000,
      				singleItem:true
  				});
			});
		</script>
		<script>
 			new WOW().init();
		</script>
		<script>
			$( function() {
				  // init Isotope
			  	var $container = $('.isotope').isotope
			  	({
				    itemSelector: '.element-item',
				    layoutMode: 'fitRows'
			  	});


  				// bind filter button click
  				$('#filters').on( 'click', 'button', function() 
  				{
				    var filterValue = $( this ).attr('data-filter');
				    // use filterFn if matches value
				    $container.isotope({ filter: filterValue });
				 });
  
			  // change is-checked class on buttons
			  	$('.button-group').each( function( i, buttonGroup ) 
			  	{
			    	var $buttonGroup = $( buttonGroup );
			    	$buttonGroup.on( 'click', 'button', function() 
			    	{
			      		$buttonGroup.find('.is-checked').removeClass('is-checked');
			      		$( this ).addClass('is-checked');
			    	});
			  	});
			  
			});
		</script>
        <script src="../public/assets/js/jquery-ui-1.10.3.min.js"></script>
        <script src="../public/assets/js/jquery.knob.js"></script>
        <script src="../public/assets/js/daterangepicker.js"></script>
        <script src="../public/assets/js/bootstrap3-wysihtml5.all.min.js"></script>
		<script src="../public/assets/js/dashboard.js"></script>

       
	</body>
</html>
