<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BarkPark</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/owl.theme.default.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/userAtPark.css">
</head>

<body>
    <header id="home">
        <div class="centered" style="position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);color:white;font-size:120px;text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -3px black;">BarkPark</div>
        <div class="bg-img" style="background-image: url('assets/image/barkPark1.jpg');">
            <div class="overlay"></div>
        </div>
        <nav id="nav" class="navbar nav-transparent" style="background-color: rgba(96,96,96,0.8);">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="#home">
                            <br>
                            <p style="color:#2eb82e;font-size: 30px;font-size: 30px; text-shadow: 0px 1px white;">BarkPark</p>
                        </a>
                    </div>
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#log-in">Log In</a></li>
                    <li><a href="#sign-up">Sign Up</a></li>
                    <li><a href="#parkMap">BarkPark Map</a></li>
                    <li><a href="#team">Team</a></li>
                </ul>
            </div>
        </nav>
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <!-- <h1 class="white-text">We Are Creative Agency</h1>
                            <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
                            </p> -->
                            <!-- <button class="white-btn"></button>
                            <button class="main-btn"></button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Log In Section -->
    <div id="log-in" class="section md-padding">
        <div class="container">
            <div class="row text-center" id="heading">
                <div class="section-header text-center">
                    <h2 class="title">Log In</h2>
                </div>
                <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                    <div class="myform">
                        <form id="signinForm" class="form">
                            <input id="userEmail" type="text" placeholder="Email"><br>
                            <input id="userPassword" type="password" placeholder="Password"><br>
                            <br>
                            <button type="submit" class="btn btn-default login-button" style="background-color:#2eb82e;color:white;">Login</button>
                            <hr>
                            <p class="message signIn">Not registered? <a href="#sign-up">Create an account</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Section -->
    <div id="sign-up" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">Sign Up</h2>
                </div>
                <form class="signup">
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 ">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="email" class="form-control" placeholder="Email" style="background-color: #fff; opacity:1">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" style="background-color: #fff; opacity:1" placeholder="Password">
                    </div>
                    <div class="form-group green col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="ownersname">Owner Name</label>
                        <input type="ownersname" class="form-control" id="owners-name" placeholder="Owner Name">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="dogsname">Dog Name</label>
                        <input type="dogsname" class="form-control" id="dogsname" placeholder="Dog Name">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="breed">Breed</label>
                        <input type="breed" class="form-control" id="breed" placeholder="Breed">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="weight">Weight</label>
                        <input type="weight" class="form-control" id="weight" placeholder="Weight">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="age">Age</label>
                        <input type="age" class="form-control" id="age" placeholder="Age">
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1 ">
                        <label for="file">Click the button to upload a picture!</label>
                        <input type="file" id="dogspic" name="pic" accept="image/*">
                    </div>

                    <input type="submit" id="suform-button" value="Submit" class="btn btn-default login-button col-sm-offset-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-lg-offset-4 col-xl-offset-4 col-xl-4 col-xl-offset-4" style="background-color:#2eb82e;color:white;margin-top:10px; font-size: 30px;">
                </form>
            </div>
        </div>
    </div>

    <!-- Park Map Section -->
    <div id="parkMap" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">BarkPark Map</h2>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div id="map" style="width: 100%; height: 400px;-webkit-filter: grayscale(100%);filter: grayscale(0%);"></div>
                </div>
                <div style="border:solid;overflow-y:scroll;border-color:black;max-height:400px; height:400px" id="style-8" class="col-md-5 col-sm-5">
                    <div id="updateTime">
                    </div>
                    <div id="userInfor">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Service -->

    <!-- Team Section -->
    <div id="team" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">Our Team</h2>
                </div>
                <div class=col-sm-12>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark3.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Eddie Zhao</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Zach P</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">

                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">

                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Troy C</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Petet J</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Luis R</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-logo">
                    </div>
                    <div class="footer-copyright" style="color:white;">
                        <p>Copyright © 2018 Mallards Project 2</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6NlS01JXVsAkq6HYU0u0ltTwa3wGCQZw&libraries=places&callback=initMap" async defer></script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/map.js"></script>
    <script src="assets/js/userSignUp.js"></script>
</body>

</html>