<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BarkPark - Member Page</title>

    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Mina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/owl.theme.default.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        .wow {
            font-family: 'Mina', sans-serif;
            color: black;
            font-size: 30px;
        }
      
        hr {
            width: 80%;
            background: green;
            height: 3px;
        }
    </style>

    <link rel="stylesheet" href="assets/css/userAtPark.css">

</head>

<body>
    <header id="home" style="height:1px;">
        <div class="bg-img" style="background-image: url('assets/image/barkPark1.jpg');">

            <div class="overlay"></div>
        </div>
        <nav id="nav" class="navbar nav-transparent" style="background-color: rgba(96,96,96,0.8);">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="#home">
                            <br>
                            <p style="color:#2eb82e;font-size: 30px;font-size: 30px; text-shadow: 0px 1px white;">BarkPark</p>
                        </a>
                    </div>
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#profile" style="color:white;">Profile</a></li>
                    <li><a href="#parkMap" style="color:white;">BarkPark Map</a></li>
                    <li><a href="#team" style="color:white;">Team</a></li>
                </ul>
            </div>
        </nav>

        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>s
    </header>
    <!-- Modal below -->
    <div id="mymodal">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title firstModalTitle"></h4>
                    </div>
                    <div class="text-center modal-body firstModalBody">
                        <p>Do you want to check in</p>
                    </div>
                    <div class="firstFooter text-center modal-footer">
                        <button id="checkin" type="button" class=" btn btn-default">Check In</button>
                        <button type="button" id="seeUsers" class="btn btn-default" data-dismiss="modal">See who is here!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="checkinModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title secondModalTitle">Modal Header</h4>
                </div>
                <div class="modal-body secondModalBody">
                    The number of dogs in this park<input type="text" id="dogNumber">
                </div>
                <div class="secondFooter modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Section -->
    <div id="profile" style="padding-bottom:0px" class="section md-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="title">Profile</h2>
            </div>
            <div class="row about-us-text">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="row wow animated zoomIn">
                        <div id="userIMG" class="col-md-8 col-md-offset-2">
                            <img id="dog1" class="img-circle img-responsive center-block" style="width:200px;height:auto;" src="" alt="Default-Dog-Pic">
                        </div>
                    </div>
                    <p class="member-title wow animated fadeIn"><strong style="color:#2eb82e">Name:</strong> <strong id="dogName"><br></strong></p>
                    <p class="team-member-description wow animated fadeIn"><strong style="color:#2eb82e">Owner:</strong> <strong id="ownerName"></strong></p>
                    <p class="team-member-description wow animated fadeIn"><strong style="color:#2eb82e">Breed:</strong> <strong id="myBreed"></strong></p>
                    <p class="team-member-description wow animated fadeIn"><strong style="color:#2eb82e">Age:</strong> <strong id="myAge"></strong></p>
                    <p class="team-member-description wow animated fadeIn"><strong style="color:#2eb82e">Weight:</strong> <strong id="myWeight"></strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-ms-12">
                <img class="img-responsive center-block" style="width:500px;height:130px;margin-bottom:-19px;" src="assets/image/groupdog.jpg" alt="Default-Dog-Pic">
            </div>
        </div>
    </div>
    <hr>

    <!-- Park Map -->
    <div id="parkMap" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">BarkPark Map</h2>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div id="map" style="width: 100%; height: 400px;-webkit-filter: grayscale(100%);filter: grayscale(0%);"></div>
                </div>
                <div style="border:solid;overflow-y:scroll;border-color:black;max-height:400px; height:400px" id="style-8" class="col-md-5 col-sm-5 ">
                    <div id="updateTime"></div>
                    <div id="userInfor">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team -->
    <div id="team" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">Our Team</h2>
                </div>
                <div class=col-sm-12>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark3.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Eddie Zhao</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Zach P</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Troy C</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Petet J</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team">
                                <div class="team-img">
                                    <img class="img-responsive" src="assets/image/barkPark2.jpg" alt="">
                                    <div class="overlay">
                                        <div class="team-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <h3>Luis R</h3>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="footer-logo">
                    </div>
                    <div class="footer-copyright" style="color:white;">
                        <p>Copyright © 2018 Mallards Project 2</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->

    <script>
        $(document).ready(function() {
            window.onload = function() {
                    $.get("/memberInfor", function(data) {
                        $("#dogName").text(data.dog_name);
                        $("#ownerName").text(data.owner_Name)
                        $("#myBreed").text(data.breed);
                        $("#myAge").text(data.age);
                        $("#myWeight").text(data.weight)

                        $("#dog1").attr("src", data.picture);
                    })


                }
        })
    </script>
    <!-- jQuery Plugins -->

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6NlS01JXVsAkq6HYU0u0ltTwa3wGCQZw&libraries=places&callback=initMap" async defer></script>
    <script src="assets/js/Membermap.js"></script>

</body>

</html>